<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL shortner</title>

  <!-- FavIcon -->
  <!-- <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"> -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- JS -->
  <script src="/js/main.js" defer></script>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>

  <main>
    <h1>Short URL</h1>
    <!-- <form action="/createUrl" enctype="application/x-www-form-urlencoded" method="post" class="url_form"> -->
    <form action="" method="">
      <h2>Paste the URL to be shortened</h2>
      <div>
        <input id="url" required name="url" type="text" placeholder="url">
        <input type="submit" value="Shorten URL" class="btn1">
      </div>

      <section id="answer">
        
      </section>
      <p>ShortURL is a free tool to shorten URLs and generate short links
        <br>
        URL shortener allows to create a shortened link making it easy to share
      </p>


      <!-- <button onclick="document.querySelector('#answer').innerHTML.execCommand('copy');">copy</button> -->
    </form>


    <section class="features_container">
      <div class="feature">
        <i class="ri-thumb-up-fill"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
      <div class="feature">
        <i class="ri-link"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
      <div class="feature">
        <i class="ri-shield-keyhole-fill"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
      <div class="feature">
        <i class="ri-qr-code-line"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
      <div class="feature">
        <i class="ri-chat-history-fill"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
      <div class="feature">
        <i class="ri-home-smile-2-line"></i>
        <h4>Easy</h4>
        <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
      </div>
    </section>
  </main>

  <footer>

  </footer>

</body>

</html>